<template>
    <div class="feedback-form">
        <form @submit.prevent="submitFeedback">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" v-model="feedback.name">
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input type="text" id="phone" v-model="feedback.phone">
            </div>
            <div>
                <label for="message">Message:</label>
                <textarea id="message" v-model="feedback.message"></textarea>
            </div>
            <button type="submit">Submit Feedback</button>
            <p>{{ result }}</p>
        </form>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            feedback: {
                name: '',
                phone: '',
                message: ''
            },
            result: null,
        };
    },
    methods: {
        async submitFeedback() {
            this.result = null
            try {
                await axios.post('/api/feedback', this.feedback);
                this.result = 'Feedback submitted successfully!';
                this.feedback = { name: '', phone: '', message: '' }; // Reset form
            } catch (error) {
                console.error(error);
                if(error.response?.data?.error){
                    this.result = error.response.data.error;
                } else {
                    this.result = 'Failed to submit feedback.';
                }
            }
        }
    }
};
</script>

<style scoped>
.feedback-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form form>div {
    margin-bottom: 15px;
}

.feedback-form label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.feedback-form input,
.feedback-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

.feedback-form textarea {
    height: 100px;
}

.feedback-form button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.feedback-form button:hover {
    background-color: #004494;
}
</style>
